<!DOCTYPE html>
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Magazine" %}</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans "Magazine" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_list' %}">{% trans "Last Articles" %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favourites' user.id %}">{% trans "Favourites" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'publications' %}">{% trans "Publications" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguageLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Language" %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLanguageLink">
                        <li><a class="dropdown-item" href="/en/articles">{% trans "English" %}</a></li>
                        <li><a class="dropdown-item" href="/ko/articles">{% trans "Korean" %}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans "Logged as" %} {{ user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
                </li>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="{% trans 'Username' %}" required>
                    <input type="password" name="password" placeholder="{% trans 'Password' %}" required>
                    <input type="submit" value="{% trans 'Login' %}">
                    {% if form.errors %}
                        <p>{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}
                </form>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- 여기서부터 페이지의 주요 내용이 시작됩니다. -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap JS와 의존성 파일들 추가 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
