{% extends 'ex01/base.html' %} {% load static %}ㅋ {% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'ex01/style1.css' %}" />
{% endblock %} {% block content %}
<h1>Display Page</h1>
<p>
  Django에서 정적 페이지를 표시하는 과정은 사용자의 요청에서부터 응답까지 여러
  단계를 거칩니다. 먼저, 사용자의 요청은 URLconf를 통해 특정 뷰와 연결됩니다. 그
  다음, 뷰는 요청을 처리하고 템플릿을 렌더링합니다. 템플릿은 정적인 HTML 파일일
  수도 있고, 동적 데이터를 포함할 수도 있습니다. 마지막으로, 렌더링된 템플릿은
  사용자에게 응답으로 전송됩니다.
</p>
{% endblock %}
