{% extends 'publish/base.html' %}

{% load i18n %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% trans "login" %}</title>
</head>
<body>
    <h1>{% trans "login" %}</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "login" %}</button>
    </form>
    {% if form.errors %}
        <p>{% trans "wrong id or password" %}</p>
    {% endif %}
</body>
</html>
{% endblock %}
